
.table-view .column-header {
     -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

.table-view .column-header-background .label{
     -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size:14px;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-view .table-cell{
    -fx-font-size:14px;
}